body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(40, 55, 151, 1) 0%,
    rgba(70, 72, 128, 1) 35%,
    rgba(0, 244, 255, 1) 100%
  );
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#app {
  text-align: center;
  background-color: #fff;
  color: #000;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#app h1 {
  color: rgba(70, 72, 128, 1);
}

input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}
button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: rgba(70, 72, 128, 1);
  border: none;
  color: #fff;
}

.weatherIcon {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: center;
}

.weatherIcon img {
  max-width: 100%;
  width: 8rem;
}
